/*
 * Copyright 2005-2008 The Kuali Foundation
 * 
 * Licensed under the Educational Community License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 * 
 * http://www.opensource.org/licenses/ecl2.php
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
body
{
	font-size: 71%;
	margin: 0;
	background-color: #002666;
}

form { margin: 0; }
li, td, div, th, table, span, body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

table
{
	margin-top: 0px;
	margin: 0px;
	padding: 0px;
	font-size: 100%;
}

a:link
{
	text-decoration: underline;
	color: #000000;
}

a:visited
{
	text-decoration: underline;
	color: #000000;
}

a:hover
{
	color: #000099;
	text-decoration: underline;
}

a:active
{
	color: #333333;
	text-decoration: underline;
}

.alignright
{
	margin-top: 0;
	text-align: right;
}

.small { font-size: .9em; }



#portchancont table
{
		
}

#portchancont td
{
	padding-left: 12px;
	

}

#topcontrols
{
	position: absolute;
	top: 0;
	right: 0;
	text-align: right;
	background-image:  url("../images/uc/topcontrolback.gif");
	background-repeat: no-repeat;
	height: 22px;
	padding-left: 60px;
	padding-right: 20px;
	padding-top: 3px;
}

#topcontrols input.loginbox
{
	border: 1px solid #666666;
	height: 14px;
	font-size: 80%;
	background-color: #FBF8E0;
	margin: 0;
	padding: 0;
	vertical-align: top;
}

#topcontrols input.loginbutton
{
	border: none;
	background-color: #FBF8E0;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}

#topcontrols a:link
{
	color: #000000;
	text-decoration: none;
}

#topcontrols a:visited
{
	color: #000000;
	text-decoration: none;
}

#topcontrols a:hover
{
	color: #000099;
	text-decoration: underline;
}

#topcontrols a:active
{
	color: #333333;
	text-decoration: underline;
}

#search
{
	position: absolute;
	top: 70px;
	right: 0;
	text-align: right;
	background-image:   url("../images/uc/searchback.png");
	height: 30px;
	background-repeat: no-repeat;
	padding-right: 10px;
	padding-left: 60px;
	font-size: 10px;
	color: #FFFFFF;
	background-color: #002666;
	padding-top: 8px;
	
}

#search input
{
	border: 1px solid #000048;
	font-size: 10px;
	background-color: #CCFFFF;
}

#search select
{
	border: 1px solid #000048;
	font-size: 10px;
	background-color: #CCFFFF;
}

#search input.loginbox
{
	border: 1px solid #666666;
	font-size: 10px;
	background-color: #FBF8E0;
	margin: 0;
	padding: 0;
	vertical-align: top;
	height: 16px;
}

#search input.go
{
	font-size: 10px;
	background-color: #253Bba;
	font-weight: bold;
	color: #FFFFFF;
	border-top: 1px solid #FF7979;
	border-right: 2px solid #181876;
	border-bottom: 2px solid #181876;
	border-left: 1px solid #7979FF;
}

/*******************************************************************************
                       Positioning rules
*******************************************************************************/


#login-info
{
	height: 12px;
	position: absolute;
	top: 87px;
	right: 210px;
	color: #990000;
}


#build
{
	height: 12px;
	position: absolute;
	top: 47px;
	right: 20px;
	color: #999999;
	background-color: #002666;
}


/*
.build
{
	height: 12px;
	color: white;
	text-align: center;
	background-color: #002666;
}

*/


#feedback
{
	height: 12px;
	position: absolute;
	top: 40px;
	right: 10px;
	font-weight: bold;
	color: #999999;
}

#ucd-logo h1.ucd
{
	background-image:   url("../images/uc/ucdavis_logo_3_gold.gif") ;
	margin: 0px;
	padding: 0px;
	height:40px;
	width: 178px;
	position: absolute;
	right: 10px;
	top: 0px;
	color: black;
	font-size: 0.75em;
	background-repeat: no-repeat;
}
#header
{
	height: 70px;
	background-image:  url("../images/uc/headerback_2.png");
	color: #FFFFFF;
	font-size: 1.5em;
}

#header span { display: none; }

#header h1.headerImage
{
	background-image:   url("../images/logo-krice.png");
	margin: 0px;
	padding: 0px;
	height:70px;
	width: 221px;
	position: absolute;
	left: 0px;
	top: 0px;
}

#header h1.kfs
{
	background-image:   url("../images/logo-krice.png");
	margin: 0px;
	padding: 0px;
	height:70px;
	width: 221px;
	position: absolute;
	left: 10px;
	top: 0px;
	color: black;
	font-size: 0.75em;
	background-repeat: no-repeat;
}

#header h1.kra
{
	background-image:   url("../images/uc/logo-kra.gif");
	margin: 0px;
	padding: 0px;
	height:70px;
	width: 221px;
	position: absolute;
	left: 0px;
	top: 0px;
}

div.header2
{
	background-image:   url("../images/uc/head2-back.png");
	background-color: #002666;
	background-repeat: repeat-x;
	height: 38px;
}

div.header2-left
{
	background-image:   url("../images/uc/header2-left.png");
	height: 38px;
	background-repeat: no-repeat;
	background-color: #002666;
}

div.header2-left-focus
{
	background-image:   url("../images/uc/header2-left-focus.png");
	height: 38px;
	background-repeat: no-repeat;
	background-color: #002666;
	width: 35px;
}

div.breadcrumb
{
	font-family: "Arial Narrow";
	font-size: 16px;
	position: absolute;
	left: 182px;
	top: 65px;
	color: #000000;
	font-weight: bold;
}

div.breadcrumb-focus
{
	position: absolute;
	left: 28px;
	top: 84px;
	color: #000000;
	font-weight: bold;
}

div.tabposition
{
	position: absolute;
	top: 48px;
	left: 190px;
	width: 200px;
	white-space: nowrap;
}

#tabs
{
	float: left;
	font-size: 93%;
	line-height: normal;
	white-space: nowrap;
	width: 800px;
}

#tabs ul
{
	margin: 0;
	padding: 0px 0px 0;
	list-style: none;
	white-space: nowrap;
}

#tabs li.red
{
	background:  url("../images/uc/left-blue.png") no-repeat left top;
	margin: 0px 3px;
	padding: 0px 0px 0px 9px;
	float: left;
	white-space: nowrap;
	background-color: #002666;
}

#tabs a.red
{
	float: left;
	display: block;
	background:  url("../images/uc/right-blue.png") no-repeat right top;
	background-color: #002666;
	padding: 5px 9px 4px 0px;
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
}



#tabs li.green
{
	background:   url("../images/uc/left-tan.gif") no-repeat left top;
	margin: 0 3px;
	padding: 0 0 0 9px;
	float: left;
}

#tabs a.green
{
	float: left;
	display: block;
	background:   url("../images/uc/right-tan.gif") no-repeat right top;
	padding: 5px 9px 4px 0px;
	text-decoration: none;
	font-weight: bold;
}


/* Commented Backslash Hack
   hides rule from IE5-Mac \*/

#tabs a
{
	float: none;
	white-space: nowrap;
}

/* End IE5-Mac hack */
#tabs a.red:hover
{
	color: #FFFFFF
}
#tabs a:hover
{
	color: #333333;
	text-decoration: underline;
}

#tabs #current { background-image: url("../images/left_on.gif"); }

#tabs #current a
{
	background-image: url("../images/right_on.gif");
	padding-bottom: 5px;
}

#subtabs { background-color: #99FF99; }

h1, h2
{
	margin: 0;
	font-size: 100%;
}

.footerbevel
{
	background-image: url(../images/uc/bl-bevel-focus.png);
	height: 27px;
	background-color: #002666;
}

#footer-copyright
{
	background-color: #002666;
	color: #fff;
	bottom: 0px;
	width: 100%;
	text-align: center;
	background-image:   url("../images/uc/os-guy.gif");
	padding-top: 20px;
	padding-bottom: 12px;
	background-repeat: no-repeat;
	background-position: right 5px;
	height: 60px;
}

#footer-copyright a:link
{
	color: #FFFFFF;
	text-decoration: underline;
}

#footer-copyright a:visited
{
	color: #FFFFFF;
	text-decoration: underline;
}

#footer-copyright a:hover
{
	color: #000000;
	text-decoration: underline;
}

#footer-copyright a:active
{
	color: #000000;
	text-decoration: underline;
}

#footer-nav
{
	background-image:   url("../images/uc/leftback.gif");
	background-repeat: no-repeat;
	height: 20px;
	background-color: #FFFFFF;
}

#footer-nav-focus
{
	background-image:   url("../images/uc/bl-bevel-focus.gif");
	background-repeat: no-repeat;
	height: 20px;
	background-color: #FFFFFF;
	background-position: left bottom;
}

#footer-nav  a:link
{
	color: #000000;
	text-decoration: none;
}

#footer-nav  a:visited
{
	color: #000000;
	text-decoration: none;
}

#footer-nav  a:hover
{
	color: #000099;
	text-decoration: underline;
}

#footer-nav  a:active
{
	color: #333333;
	text-decoration: underline;
}

#footer-nav-focus  a:link
{
	color: #000000;
	text-decoration: none;
}

#footer-nav-focus  a:visited
{
	color: #000000;
	text-decoration: none;
}

#footer-nav-focus  a:hover
{
	color: #000099;
	text-decoration: underline;
}

#footer-nav-focus  a:active
{
	text-decoration: underline;
}

#action-list
{
	color:	red;
	position: relative;
	left: -5px;
	top: -5px;
}

div.leftswoop
{
	background:   url("../images/uc/subnav-left.png") no-repeat left top;
	padding: 0 0 0 9px;
	float: left;
	position: relative;
	left: 40%;
	right: 60%;
	bottom: 2px;
	background-color: #002666;
}

html>body div.leftswoop
{
	background:   url("../images/uc/subnav-left.png") no-repeat left top;
	padding: 0 0 0 9px;
	float: left;
	position: relative;
	left: 40%;
	right: 60%;
	bottom: 3px;
	background-color: #002666;
}

span.rightswoop
{
	float: left;
	display: block;
	background:   url("../images/uc/subnav-right.gif") no-repeat right top;
	padding: 5px 15px 4px 6px;
	text-decoration: none;
	font-weight: bold;
}

.centerfootnav { width: 300px; }

div#leftbox
{
	left: 0px;
	padding-top: 0px;
	margin: 0;
	width: 169px;
}
.helpIcon {
	position: relative;
	top: -10px;
}
.leftback { background-image:   url("../images/uc/leftback.gif"); }
.leftback-focus 
{
	 background-image:   url("../images/uc/leftback-focus.png");
	 background-color: #002666;
}
td.content { padding-bottom: 40px; }

#middlebox
{
	margin: 0px 0px 0px 169px;
	background-color: #FFFFFF;
}

div#rightbox
{
	position: absolute;
	right: 0px;
	width: 30%;
	background-color: #FFFFFF;
}

/** 'portlet' block **/





#portlets-left-column
{
	margin: 0 0 0 12px;
	padding: 0;
	width: 49%;
	float: left;
}

#portlets-right-column
{
	margin: 0 12px 0 0;
	padding: 0;
	width: 50%;
	float: right;
}

.portlet
{
	margin: 20px 10px 0px;
	padding: 0px;
	border: 1px solid #999999;
}


.portlet-iframe
{
	margin:  0px;
	padding: 0px;
	border: 1px solid #999999;
}


.portlet .header
{
	padding-left: 0.25em;
	background-color: #E5E5E5;
	height: 22px;
	background-image:  url("../images/uc/chanhead-back.gif");
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
	font-family: "Arial Narrow";
	font-size: 14px;
	color: #002666;
	text-align: left;
}

.portlet .header h2
{
	margin: 0px;
	padding: 0px;
	font-size: 100%;
	float: left;
	white-space: nowrap;
	color: #002666;
}

.portlet .header span
{
	width: 16px;
	height: 16px;
	float: right;
}

.portlet-nav { float: left; }

#navcontainer
{
	margin: 0px;
	padding: 0px;
	width: 169px;
}

#navcontainer ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#navcontainer li
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#navcontainer a
{
	display: block;
	padding: 4px 0px 4px 12px;
	width: 169px;
	border-bottom: 1px solid #333333;
	background-image:   url("../images/uc/subnav-back.png");
	background-position: right;
	text-decoration: none;
	color: #FFFFFF;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-color: #002666;
}

html>body #navcontainer a
{
	display: block;
	padding: 4px 0px 4px 12px;
	width: 157px;
	border-bottom: 1px solid #333333;
	background-image:   url("../images/uc/subnav-back.png");
	background-position: right;
	text-decoration: none;
	color: #FFFFFF;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-color: #002666;

}


#navcontainer a.current
{
	display: block;
	padding: 4px 0px 4px 12px;
	width: 169px;
	border-bottom: 1px solid #333333;
	background-image:   url("../images/uc/subnav-back1.png");
	background-position: right;
	text-decoration: none;
	color: #000000;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-weight: bold;
	background-color: #002666;
}

html>body #navcontainer a.current
{
	display: block;
	padding: 4px 0px 4px 12px;
	width: 157px;
	border-bottom: 1px solid #333333;
	background-image:   url("../images/uc/subnav-back1.png");
	background-position: right;
	text-decoration: none;
	color: #000000;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-weight: bold;
	background-color: #002666;
}




#navcontainer a:link, #navlist a:visited
{
	color: #EEE;
	text-decoration: none;
}

#navcontainer a:hover
{
	background-image:   url("../images/uc/subnav-back1.png");
	color: #000000;
}

#misclinks
{
	padding-top: 30px;
	padding-left: 8px;
}

#misclinks li { list-style-image:   url("../images/uc/bullet.gif"); }

#misclinks a:link
{
	color: #000000;
	text-decoration: none;
}

#misclinks a:visited
{
	color: #000000;
	text-decoration: none;
}

#misclinks a:hover
{
	color: #000099;
	text-decoration: underline;
}

#misclinks a:active
{
	color: #333333;
	text-decoration: underline;
}

/** 'portlet' block: portlet mode and window state controls **/
div.portlet-head { height: 40px; }
div.portlet-title {
	float: left;
	padding: 3px;
}

h2.portlet-title
{
	font-family: "Arial Narrow";
	font-size: 16px;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 20px;
	margin-bottom: 10px;
	color: #8D2C1B;
	white-space: nowrap;
}

div.portlet-modify
{
	float: right;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.dddlist
{
	width: 68px;
	font-size: 10px;
	background-color: #e5e5e5;
	height: 14px;
	border: 1px solid #999999;
	float: right;
}

.portlet .body { padding: 10px; }
.portlet .header span.min { background: url(../images/min.png) no-repeat; }
.portlet .header span.max { background: url(../images/max.png) no-repeat; }
.portlet .header span.norm { background: url(../images/norm.png) no-repeat; }
.portlet .header span.view { background: url(../images/view.png) no-repeat; }
.portlet .header span.edit { background: url(../images/edit.png) no-repeat; }
.portlet .header span.help { background: url(../images/help.png) no-repeat; }


.bord-lb {
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #A8B2BC;
	border-left-color: #A8B2BC;
}
.bord-rt {
	border-top-width: 1px;
	border-right-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-top-color: #A8B2BC;
	border-right-color: #A8B2BC;
}




ul.chan {
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	list-style-type: none;
}

ul {
	margin: 0px;
	padding: 0px;
}
#DS {
	height: 600px;
	width: 100%;	
}

#iframe_portlet_container_div {
 	background-color: #002666; 
 	background-image:   url("../images-portal/uc/leftback-focus.png");
 	background-repeat: repeat-y;
 	/* padding left 15px simulates previous table layout spacing */
 	padding: 0px 0px 0px 15px;
 	/* default height */
 	height: 500px;
}

div.blockOverlay{
    background-color: black;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)" !important;
    opacity:.60;
    -moz-opacity:.60;
    z-index: 10100 !important;
}

div.blockElement{
    padding: 0;
    margin: 0;
    top: 40%;
    left: 0 !important;
    background-color: white;
    textAlign: center;
    color: #000;
    border: 3px solid #aaa;
    cursor: wait;
    z-index: 10101 !important;
}

div.blockPage{
    padding: 0;
    margin: 0;
    width: 30%;
    top: 40%;
    left: 35%;
    textAlign: center;
    color: #000;
    border: 3px solid #aaa;
    background-color: white;
    cursor: wait;
    z-index: 10101 !important;
    text-align: center;
}

.overlay-fixed{
    opacity: 0.4 !important;
}

