/*
 * Copyright 2005-2008 The Kuali Foundation
 *
 * Licensed under the Educational Community License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.opensource.org/licenses/ecl2.php
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
body
{
	font-size: 71%;
 	margin: 0px;
 	background-color: white;
}

form { margin: 0px; }

pre {
	margin: 0px;
}

li,td,div,th,table,span,body,pre
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	list-style-type: square;
	background-position: top;
}

table
{
	font-size: 100%;
	margin: 0px;
	padding: 0px;
}

img { border: 0px none; }

select
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-top: 1px solid #666666;
	border-right: 1px solid #666666;
	border-bottom: 1px solid #666666;
	border-left: 1px solid #666666;
}

input.radio
{
	font-size: 100%;
	padding-right: 5px;
	padding-left: 5px;
	border: 0px;
	vertical-align: middle;
}

a:link
{
	color: #000000;
	text-decoration: underline;
}

a:visited
{
	color: #333333;
	text-decoration: underline;
}

a:hover
{
	color: #990000;
	text-decoration: underline;
}

a:active
{
	color: #333333;
	text-decoration: underline;
}

textarea
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-top: 1px solid #333333;
	border-right: 1px solid #999999;
	border-bottom: 1px solid #999999;
	border-left: 1px solid #333333;
	font-size: 100%;
}

input
{
	font-size: 100%;
	border-top: 1px solid #666666;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	border-left: 1px solid #666666;
}

.nowrap { white-space: nowrap; }

.copyright
{
	text-align: center;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}

.left-errmsg
{
	text-align: left;
	padding-left: 20px;
}

.left-errmsg-tab
{
	text-align: left;
	padding-left: 20px;
	width: 100%;
}

.left
{
	float: left;
	text-align: left;
}

.right
{
	text-align: right;
	float: right;
}

.pagetitle
{
	width: 100%;
	font-weight: bold;
	padding: 20px 20px 0px;
}

span.subhead-left
{
	float: left;
	text-align: left;
	font-weight: bold;
	color: #FFFFFF;
}

span.subhead-right
{
	float: right;
	text-align: right;
	background-color: #6B6B6B;
	font-weight: normal;
	color: #FFFFFF;
	margin: 0px;
	padding-top: 1px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 0px;
}

.tinybutton { border: none; }

th.grid
{
	background-color: #999999;
	background-image: url("../images/th-back.gif");
	padding-right: 5px;
	padding-left: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-left-width: 1px;
	border-left-style: solid;
	border-bottom-color: #999999;
	border-left-color: #999999;
}

td.grid
{
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #999999;
	border-left-color: #999999;
	padding: 2px;
	text-align: left;
	background-color: #FFFFFF;
}

table.grid
{
	border-top-width: 1px;
	border-right-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-top-color: #999999;
	border-right-color: #999999;
}

.datatable-center
{
	/* center it */
	margin-right: auto;
	margin-left: auto;

	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #999999;
	border-right-color: #999999;
	border-right-style: solid;
	border-right-width: 1px;
}

.datatable-100
{
	width: 100%;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #999999;
	border-right-color: #999999;
	border-right-style: solid;
	border-right-width: 1px;
}

.datatable-80
{
	width: 80%;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #999999;
	border-right-color: #999999;
	border-right-style: solid;
	border-right-width: 1px;
}
#workarea th.neutral
{
	background-color: #FFFFFF;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-image: none;

}
#workarea td.neutral
{
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;

}
#workarea table.neutral
{
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;

}
#workarea th
{
	background-color: #999999;
	background-image: url("../images/th-back.gif");
	padding-right: 5px;
	padding-left: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-left-width: 1px;
	border-left-style: solid;
	border-bottom-color: #999999;
	border-left-color: #999999;
}

#workarea td
{
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #999999;
	border-left-color: #999999;
	padding: 2px;
	text-align: left;
	background-color: #FFFFFF;
}

#workarea .nobord { border: none; }

#workarea td.footer
{
	margin: 0px;
	padding: 0px;
	border: none;
	background: url(../images/tabfoot-back.gif);
}

#workarea td.footer-right
{
	margin: 0px;
	padding: 0px;
	border: none;
	text-align: right;
	background: url(../images/tabfoot-back.gif);
}

#workarea td.tab-subhead
{
	font-weight: bold;
	background-color: #C3C3C3;
	padding: 2px;
	height: 18px;
	text-align: left;
	border-bottom: 1px solid #999999;
	border-left: 1px solid #999999;
}

#workarea td.tab-subhead-import
{
	background-color:#C3C3C3;
	font-weight:bold;
	height:18px;
	padding:2px;
	text-align:right;
}

#workarea table
{
	width: 100%;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #999999;
}

#workarea table.tab
{
	width: 100%;
	border: none;
}

#workarea td.subhead
{
	background-color:#6B6B6B;
	color:#FFFFFF;
	font-weight:bold;
	height:18px;
	padding:2px 6px;
}

#globalactions div { text-align: center; }

#globalactions input
{
	border: none;
	padding: 5px;
}

.fineprint
{
	font-size: xx-small;
	color: #7E7E7E;
	font-weight: normal;
}

a.fineprint:active
{
	font-size: xx-small;
	color: #990000;
	text-decoration: underline;
}

a.fineprint:link
{
	font-size: xx-small;
	color: #7E7E7E;
	text-decoration: underline;
}

a.fineprint:visited
{
	font-size: xx-small;
	color: #7E7E7E;
	text-decoration: underline;
}

a.fineprint:hover
{
	font-size: xx-small;
	color: #000000;
	text-decoration: underline;
}

#workarea td.tabtable1-left
{
	background-image: url("../images/tab-back.gif");
	background-position: right;
	font-weight: bold;
	color: #666666;
	height: 29px;
	white-space: nowrap;
	text-align: left;
	border: none;
	margin: 0px;
	padding: 0px;
	width: 30%;
}

#workarea td.tabtable1-left-colspan
{
background-image: url("../images/tab-back.gif");
background-position: right;
font-weight: bold;
color: #666666;
height: 29px;
white-space: nowrap;
text-align: left;
border: none;
margin: 0px;
padding: 0px;
width: 50%;
}

#workarea td.infoline
{
	border-left-color: #999999;
	border-left-width: 1px;
	border-left-style: solid;
	background-image: url("../images/th-back1.gif");
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
	padding: 2px;
	background-position: bottom;
}

#workarea td.tabtable1-mid
{
	background-image: url("../images/tab-bevel2.gif");
	background-position: right;
	text-align: left;
	height: 29px;
	width: 80px;
	white-space: nowrap;
	vertical-align: middle;
	margin: 0px;
	padding: 0px;
	border: none;
}

#workarea td.tabtable1-mid1
{
	background-image: url("../images/tab-back.gif");
	background-position: right;
	text-align: left;
	height: 29px;
	white-space: nowrap;
	vertical-align: middle;
	margin: 0px;
	padding: 0px;
	border: none;
	width: 20%;
	color: #666666;
}

#workarea td.tabtable1-right
{
	background-image: url("../images/tab-rightback.gif");
	background-position: right;
	text-align: right;
	height: 29px;
	margin: 0px;
	padding: 0px;
	border: none;
}

#workarea td.tabtable2-left
{
	background-image: url("../images/tab-back.gif");
	background-position: right;
	font-weight: bold;
	color: #666666;
	height: 29px;
	width: 30%;
	white-space: nowrap;
	text-align: left;
	margin: 0px;
	padding: 0px;
	border: none;
}

#workarea td.total-line
{
	font-weight: bold;
	text-align: right;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #999999;
	border-left-color: #999999;
	height: 25px;
	padding-right: 5px;
	background-image: url("../images/th-back.gif");
}

#workarea td.tabtable2-mid
{
	background-image: url("../images/tab-bevel3.gif");
	background-position: right;
	text-align: left;
	height: 29px;
	width: 80px;
	white-space: nowrap;
	vertical-align: middle;
	margin: 0px;
	padding: 0px;
	border: none;
}

#workarea td.tabtable2-right
{
	background-image: url("../images/tab-rightback1.gif");
	background-position: right;
	text-align: right;
	height: 29px;
	margin: 0px;
	padding: 0px;
	border: none;
}

#workarea table.b3
{
	background-image: url(../images/tabfoot-back.gif);
	background-repeat: repeat-x;
	width: 100%;
	margin: 0px;
	padding: 0px;
	border: none;
}

.bl3 { background-image: url(../images/tabfoot-left.gif); }
.br3 { background-image: url(../images/tabfoot-right.gif); }

img.helpicon
{
	height: 14px;
	width: 15px;
	margin-left: 10px;
	vertical-align: middle;
	border: 0px none;
}
#workarea div.message-container
{
	text-align: left;
	margin: 0px;
	width: 98%;
	padding-top: 8px;
	padding-bottom: 8px;
	color: #626262;
}

#workarea h2
{
	display:inline;
	color: #666666;
	padding-left:0px;
	font-size: 100%;
}

#workarea div.tab-container h3
{
	background-color:#6B6B6B;
	border-bottom:1px solid #666666;
	border-top:1px solid #666666;
	color:#FFFFFF;
	font-size:100%;
	font-weight:bold;
	height:18px;
	margin:0px;
	padding:2px 0px 0px 6px;
	text-align:left;
}

#workarea div.pretable
{
	width: 98%;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
}

#workarea div.tab-container
{
	background-color:#E4E4E4;
	background-image:url(../images/tab-sideright1.gif);
	background-position:right center;
	background-repeat:repeat-y;
	border-left:1px solid #666666;
	margin:0px -1px 0px 0px;
	padding:10px;
	_width: 100%;
	max_width: 100%;
}

#workarea div.tab-container-error
{
	background-color: #e4e4e4;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #666666;
	background-image: url("../images/tab-sideright1.gif");
	background-repeat: repeat-y;
	background-position: right;
	width: 100%;
}

#workarea td.error
{
	background-color: #e4e4e4;
	border-bottom: none;
	border-left: 1px solid #999999;
}

#workarea input.amount
{
	text-align: right;
}

td.annotate-t
{
	background-image: url("../images/annotate-back.gif");
	font-weight: bold;
	color: #666666;
	background-repeat: repeat-x;
	text-align: left;
}

td.annotate-b
{
	background-image: url("../images/annotate-back-b.gif");
	font-weight: bold;
	color: #666666;
	background-repeat: repeat-x;
	background-position: bottom;
	text-align: left;
}

div.annotate-container
{
	border-left-style: solid;
	border-left-color: #9C9C9C;
	width: 100%;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	background-image: url("../images/annotate-r.gif");
	background-repeat: repeat-y;
	background-position: right;
	border-left-width: 1px;
}

div.annotate
{
	padding-top: 20px;
	padding-bottom: 20px;
}

.topcontrols
{
	padding-top: 20px;
	padding-right: 26px;
	padding-bottom: 30px;
	padding-left: 26px;
}

.error
{
	color: #FF0000;
	text-align: left;
}

div.msg-excol
{
	width: 100%;
	padding-top: 8px;
	padding-bottom: 8px;
}

div.excol { padding-right: 22px; }

.horz-links-bkgrnd
{
	width: 100%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
	margin-bottom: 30px;
	height: 19px;
	white-space: nowrap;
	background-color: #E6E6E6;
}

#horz-links input
{
	height: 19px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #999999;
	border-top-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-image: url(../images/th-back1.gif);
	background-position: bottom;
	vertical-align: text-top;
}

#horz-links input:hover
{
	color: #FFFFFF;
	background-image: url(../images/navhover.gif);
	background-position: top;
}

#horz-links input.selected
{
	color: #FFFFFF;
	background-image: url(../images/navhover.gif);
	background-position: top;
}

.headerarea, .headerarea-small
{
	background-color: #e4e4e4;
	padding: 0px 0px 0px 10px;
	background-image: url("../images/masthead1.gif");
	margin: 0px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
}

.headerarea {
	height: 55px;
}


.headerarea-small
{
	height: 30px;
}

#headerarea-small h1, #headerarea h1
{
	font-size: 150%;
	margin: 0px;
	padding: 0px;
	font-family: "Arial Narrow";
	font-weight: bold;
	position: absolute;
	top: 4px;
}

#headerarea-small h1
{
 	top: 4px;
}

#headerarea-small div.headerbox
{
	position: absolute;
	z-index: 1;
	right: 12px;
	top: 0px;
	height: 30px;
	padding-top: 6px;
	padding-right: 5px;
}

#headerarea div.headerbox
{
	position: absolute;
	z-index: 1;
	right: 0px;
	top: 0px;
	height: 55px;
}

#headerarea h1
{
	top: 12px;
}

#headerarea table
{
	height: 54px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #999999;
}

#headerarea input { border: none; }

#headerarea th
{
	background-color: #999999;
	background-image: url("../images/th-back.gif");
	padding-right: 5px;
	padding-left: 10px;
	border-top: 1px solid #999999;
	border-right: 1px solid #999999;
}

#headerarea td
{
	background-color: #FFFFFF;
	padding: 2px;
	text-align: left;
	border-top-width: 1px;
	border-right-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-top-color: #999999;
	border-right-color: #999999;
}

div.backdoor
{
	background-color: #990000;
	color: #FFFFFF;
	text-align: center;
	position: absolute;
	top: 0px;
	margin-left: 270px;
	height: 24px;
	padding: 2px;
	border: 2px solid #710000;
}

div.topblurb { padding-left: 20px; }

div.globalbuttons
{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

#globalbuttons input { border: none; }
.column-left { width: 1%; }
.column-right { width: 1%; }

.t3
{
	background-image: url(../images/tab-rightback3.gif);
	background-repeat: repeat-x;
}

.tl3 { background-image: url(../images/tab-topleft3.gif); }
.tr3 { background-image: url(../images/tab-topright3.gif); }

div.floaters
{
	text-align: left;
	padding: 20px;
}

.result-table
{
	border-top-width: 1px;
	border-right-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-top-color: #999999;
	border-right-color: #999999;
}

td.infocell
{
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #999999;
	border-left-color: #999999;
	padding: 2px;
	text-align: left;
}

td.numbercell
{
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #999999;
	border-left-color: #999999;
	padding: 2px;
	text-align: right;
}

div.lookupcreatenew
{
	margin: 3px 30px 3px 30px;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 51px;
}

td.infoline
{
	border-left-color: #999999;
	border-left-width: 1px;
	border-left-style: solid;
	background-image: url("../images/th-back1.gif");
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
	padding: 2px;
	background-position: bottom;
}


#lookup .criteriatable {
	border-width: 2px;
	border-style: solid;
	border-color: rgb(0, 38, 102);
}

#lookup th
{
	background-color: #999999;
	background-image: url("../images/lookup-th-back.gif");
	padding-right: 5px;
	padding-left: 10px;
	border-left: 0;
	border-bottom: 1px solid rgb(0, 38, 102);
}

#lookup td
{
	border-bottom: 1px solid rgb(0, 38, 102);
	border-left: 1px solid rgb(0, 38, 102);
	padding: 2px;
	background-color: white;
}

#lookup td.infoline
{
	background-image: url("../images/lookup-th-back.gif");
	border-left: 0;
	border-bottom: 0;
	padding: 2px;
}

#lookup td.subhead
{
	font-weight: bold;
	background-color: #6b6b6b;
	padding: 2px 6px;
	border: 1px solid #999999;
	height: 18px;
	color: #FFFFFF;
}

#row th.sortable
{
	border-left-color: #999999;
	border-left-width: 1px;
	border-left-style: solid;
	background-image: url("../images/th-back1.gif");
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
	padding: 2px;
	background-position: bottom;
}

#row th
{
	border-left-color: #999999;
	border-left-width: 1px;
	border-left-style: solid;
	background-image: url("../images/th-back1.gif");
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
	padding: 2px;
	background-position: bottom;
}

#row table
{
	border-top-width: 1px;
	border-right-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-top-color: #999999;
	border-right-color: #999999;
	margin: 1px;
	padding: 1px;
}

#row td
{
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #999999;
	border-left-color: #999999;
}

#row tr.odd:hover, tbody.over td { background-color: #CCFFFF; }
#row tr.even:hover, tbody.over td { background-color: #CCFFFF; }
#row tr.odd { background-color: #FFFFFF; }
#row tr.even { background-color: #f4f4f4; }

.page-main {
	padding: 0px 0px 0px 15px;
	float:left;
}

div.innerTab-head{
 	background-color:#939393;
 	border-bottom:1px solid #B2B2B2;
 	border-left:0px solid #999999;
 	color:#FFFFFF;
 	font-weight:bold;
 	font-size: 100%;
 	height:18px;
 	padding-left:10px;
 	text-align:left;
}

div.innerTab-container{	
 	background-color: #e4e4e4;
 	border-left-width: 0px;
 	background-image: url('../images/tab-sideright1.gif');
 	background-repeat: repeat-y;
}

div.inner-subhead
{
 	font-weight: bold;
 	background-color: #C3C3C3;
 	padding: 2px;
 	height: 18px;
 	text-align: left;
 	padding-left:15px;
 	border-bottom:0px solid #B2B2B2;
 	border-left: 0px solid #999999;
}

.horz-links-bkgrnd
{
 	width: 100%;
 	border-bottom-width: 1px;
 	border-bottom-style: solid;
 	border-bottom-color: #999999;
 	height: 19px;
 	background-color: #D8D8D8;
 	padding-top: 12px;
 	margin-bottom: 20px;
}

#horz-links input:hover
{
 	color: #FFFFFF;
}

#horz-links input.selected
{
 	color: #FFFFFF;
 	background-image: url('../images/navhover.gif');
 	background-position: top;
}
 
#tabs {
	position:relative;
 	height:20px;
 	z-index:10;
 	white-space: nowrap;
}

#tabs dl {
	margin:0px 0px 0px 10px;
 	padding:0px;
 	list-style:none;
	height:20px;
 	white-space: nowrap;
}

#tabs dt {
 	float:left;
	background:url('../images/tab-top-left-gray.gif') no-repeat left top;
 	padding:0px 0px 0px 5px;
 	border-bottom:1px solid #C0C0C0;
 	margin-top: 0px;
 	margin-right: 3px;
 	margin-bottom: 0px;
 	margin-left: 0px;
}

#tabs dt.licurrent {
	background:url('../images/tab-top-left.gif') no-repeat left top;
 	border-bottom:#fff 1px solid;
}

#tabs .tabright {
 	float:left;
 	display:block;
 	background:url('../images/tab-top-right-gray.gif') no-repeat right top;
 	position:relative;
 	width:auto;
}

#tabs .tabcurrent {
 	background:url('../images/tab-top-right.gif') no-repeat right top;
}

#tabs input {
	background:none;
 	border:none;
 	cursor:pointer;
 	width:auto;
 	padding:2px 9px 3px 0px;
 	font-weight:bold;
 	margin-bottom:-1px;
 	height:20px;
}

#tabs input:hover {
 	color:#990000;
 	font-weight: bold;
}

#tabs > dl .tabright {
 	width:auto;
}
 
#tabs .tabright {
 	float:none;
}

table.questionTable {
 	border-collapse: collapse;
 	horizontal-align: center;
 	text-align: center;
}

td.leftTd {
 	border-bottom:1px solid #000000; 
 	border-right:1px solid #000000; 
 	padding:3px; 
 	width:300px;
}

td.rightTd {
 	border-bottom:1px solid #000000; 
 	border-left:1px solid #000000; 
 	padding:3px; 
 	width:300px;
}

div.inquiry #workarea table.datatable
{
	border: 1px solid #999955;	
	border-collapse:collapse;
}

div.inquiry #workarea table.datatable th
{
	background-image: url("../images/inquiry-th-back.gif");
	padding-right: 5px;
	padding-left: 10px;
	border-bottom: 1px solid #999955;
	border-left: 1px solid #999955;
}

div.inquiry #workarea table.datatable td
{
	border-bottom: 1px solid #999955;
	border-left: 1px solid #999955;
	padding: 2px;
	text-align: left;
	background-color: #FFFFFF;
}